* {
     margin: 0pt;
     padding: 0pt;
}

a {
     color: #6a0c0c;
     text-decoration: none;
}

.clear {
	clear:both;
}

a:visited {
     color: #6a0c0c;
}

img {
     border: none;
}

html, body {
     background-image: url("../images/background.jpg");
     color: #212121;
     font-family: Georgia,Times,'Times New Roman',serif;
     font-size: 100%;
     height: 100%;
     text-align: justify;
}

#header {
     padding-top: 20px;
     width: 100%;
}

#innerHeader {
     background-image: url('../images/trasp2.png');
     border: 2px solid #212121;
     border-bottom: none;
     border-top-left-radius: 13px;
     border-top-right-radius: 13px;
     margin: 0pt auto;
     overflow: auto;
     padding-left: 10px;
     padding-right: 10px;
     padding-top: 10px;
     width: 900px;
 }


#header a {
     color: #FFFFFF;
}

#header h1 {
     color: #FFFFFF;
     float: left;
     font-size: x-large;
     font-weight: bold;
     margin-bottom: 30px;
     padding-right: 20px;
     text-transform: uppercase;
}

#header #titles {
     float: left;
     width: 50%;
}

#header h2 {
     color: #FFFFFF;
     font-size: large;
     padding-left: 20px;
     padding-top: 8px;
     text-align: right;
}

#header h3 {
     color: #CCCCCC;
     font-size: small;
     padding-left: 20px;
     padding-top: 20px;
     text-align: right;
}

#header #headerContatti {
     border-left: 1px solid #eeeeee;
     color: #eeeeee;
     float: right;
     font-size: 0.6em;
     line-height: 20px;
     padding: 15px 15px 15px 25px;
}

#header ul {
     clear: both;
     list-style-type: none;
     width: 100%;
}

#header ul li {
     float: left;
     font-weight: bold;
     margin-right: 5px;
     text-align: center;
     width: 120px;
}

#header ul li a {
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
     color: #FFFFFF;
     display: block;
     padding: 4px 4px 4px 0px;
     text-decoration: none;
}

#header ul li a:hover, #header ul li a.active {
     background-color: #bdb49d;
     color: #212121;
}

#wrapper {
     height: auto ! important;
     margin: 0pt auto -4em;
     min-height: 100%;
}

#content {
     background-image: url("../images/trasp.png");
     border: 2px solid #212121;
     border-top: none;
     font-size: small;
     line-height: 25px;
     margin: 0px auto;
     padding: 10px;
     width: 900px;
     border-bottom-left-radius: 13px;
     border-bottom-right-radius: 13px;
}

#content img {
	border: 2px solid #eeeeee;
}

#content h2 {
     color: #6a0c0c;
     margin: 1.3em 0pt 0.5em;
}

#content h3 {
     color: #6a0c0c;
     margin: 1em 0pt 0.3em;
}

#content a:hover {
     text-decoration: underline;
}

#footer, #push {
     height: 4em;
}

#footer {
     color: #FFFFFF;
     width: 100%;
}

#innerFooter {
     font-size: 0.7em;
     margin: 0pt auto;
     padding: 10px;
     text-align: center;
     width: 900px;
}
