* {
     margin: 0pt;
     padding: 0pt;
}

a {
     color: #6a0c0c;
     text-decoration: none;
}

.clear {
	clear:both;
}

a:visited {
     color: #6a0c0c;
}

img {
     border: none;
}

html, body {
     background-image: url("../images/background.jpg");
     color: #583119;
     font-family: arial;
     font-size: 95%;
     height: 100%;
     text-align: justify;
}

ul {
	list-style-position: inside;
}

#header {
     padding-top: 10px;
     width: 100%;
}

#innerHeader {
     background-color: #d8b083;
     border-bottom: none;
     border-radius: 15px;
     margin: 0pt auto;
     padding-left: 20px;
     padding-right: 20px;
     padding-top: 0px;
     width: 900px;
 }
 
#innerHeader .contatti {
	float:right;
	padding: 10px;
	color: #583119;
	font-weight: bold;
	text-align: right;
}

#innerHeader h3 {
	color: #ffffff;
	margin-bottom: 10px;
	font-style: italic;
}

#header a {
     color: #FFFFFF;
}

#header ul {
     clear: both;
     list-style-type: none;
     width: 100%;
     font-family: cursive, verdana;
     text-transform: uppercase;
}

#header ul li {
     float: left;
     font-weight: bold;
     margin-right: 10px;
     text-align: center;
     width: 150px;
     line-height: 20px;
}

#header ul li a {
     color: #FFFFFF;
     display: block;
     padding: 4px 4px 4px 0px;
     text-decoration: none;
     background-color: #583119;
     border-radius: 5px;
     position: relative;
}



#header ul li a:hover div.menu-div-1, #header ul li a.active div.menu-div-1 {
     position:absolute;
     top: 0px;
     height:60px;
     width: 150px;
     background-color: #583119;
     border-radius: 5px;
}

#header ul li a:hover div.menu-div-1 div, #header ul li a.active div.menu-div-1 div {
	margin-top: 35px;
}


#wrapper {
     height: auto ! important;
     margin: 0pt auto -4em;
     min-height: 100%;
}

#content {
     background-color: #ffffff;
     font-size: 100%;
     margin: 10px auto 0px auto;
     padding: 0px;
     width: 930px;
     border-radius: 15px;
     border: 5px solid #d8b083;
}

#content #innerContent {
	padding: 20px 20px 20px 30px;
}

#content h1 {
	color: #d8b083;
	text-transform: uppercase;
	font-family: cursive, verdana;
	border-top-right-radius: 5px;
	margin-bottom: 10px;
}

#content h2 {
	color: #583119;
	background-color: #d8b083;
	margin-top: 5px;
	margin-bottom: 10px;
	width: 160px;
	padding: 5px 5px 5px 30px;
	position: relative;
	left: -30px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	font-family: cursive, verdana;
	text-transform: lowercase;
}

.content-home {
	background-image: url('../images/home.jpg');
	min-height:548px;
	padding: 0px !important;
	background-repeat: no-repeat;
}

#content img {
	border: 2px solid #583119;
	border-radius: 5px;
	margin-left: 20px;
}


#content a:hover {
     text-decoration: underline;
}

#content p, #content .para {
	margin-bottom: 20px;
	width: 54%;
}

#content ul.defaultList {
	margin-top: 5px;
	margin-bottom: 10px;
	list-style-position: outside;
	margin-left: 30px;
}

#content .info {
	color: #583119;
	font-family: cursive;
	font-style: italic;
	font-weight: bold;
}
 

#footer, #push {
     height: 4em;
}

#footer {
     color: #FFFFFF;
     width: 100%;
}

#innerFooter {
     font-size: 0.8em;
     margin: 0pt auto;
     padding: 20px;
     text-align: center;
     width: 900px;
}

.centeredFooter {
	margin: 0 auto;
	width: 520px;
}

.centeredFooter img {
	float:left;
	width: 16px;
}

.centeredFooter p {
	float:left; 
	width: 93%;
	font-weight: bold;
}

#innerFooter a {
	text-decoration: underline !important;
	color: #ffffff !important;
}