#preview a {
	margin: 5px;
}


.prodotti {
    
}

.prodotti .linea {
     margin-bottom: 3em;
     overflow: auto;
     width: 100%;
}

.prodotti .linea h3 {
     font-size: 190%;
}

.prodotti .linea p {
    
}

.linea ul {
     clear: left;
}

.linea li {
     float: left;
     list-style-type: none;
     padding: 8px 0pt 0pt 8px;
     text-align: center;
     width: 23%;
}

.linea li.selected {
    
}

.linea li a {
     display: block;
}

.linea li a:hover img {
     border: 2px solid #6A0C0C !important;
}

.linea li label {
     display: block;
     font-weight: bold;
}

#contattiWrapper {
     margin-top: 20px;
}

.contatti {
     float: left;
     font-size: 0.9em;
     width: 30%;
}

.contatti label {
     clear: left;
     float: left;
     font-weight: bold;
     padding: 5px;
     width: 25%;
}

.contatti div {
     float: left;
     padding: 5px;
     width: 60%;
}
