.prodotti {

}

.prodotti ul.menu {
	list-style-type: none;
}

.prodotti ul.menu li {
	width: 250px;
	background-color: #d8b083;
	text-transform: uppercase;
	margin: 10px 0;
	padding: 7px 7px 7px 30px;
	position:relative;
	left: -30px;
	font-weight: bold;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.prodotti ul.menu li a {
	color: #ffffff;
	width: 100%;
	display: block;
}

.prodotti ul.menu li a.selected {
	color: #583119;
}

#gallery {
    overflow: hidden;
    position: relative;
}

#gallery ul {
	list-style-type: none;
	width: 100%;
}

#gallery li {
	float: left;
	width: 25%;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 190px;
}

#gallery img {
	margin-left: 10px !important;
}

#gallery .replacing img {
	border-color: #ffffff !important;
}

#contatti {
     float: left;
     font-size: 0.9em;
     width: 37%;
     line-height: 2em;
}

#contatti img {
	margin-left: 0px !important;
	margin-bottom: 10px;
}